/******************************/

#root{
  height: 100%;
  display: flex!important;
}

#all{
  display: flex;
  margin: 3%;
}

#profil{
  width: 50%;
    height: 92vh;
    flex-direction: column;
    justify-content: center;
    padding: 4vh 3vw;
    transform: translateY(30%);
    margin-left: -200px;
}

#repo{
  border: 2px solid #e1e1e1;
  margin: 1%;
  max-width: 100%;
  border-radius: 10px;
  background-image: initial;
  background: aliceblue;
}

#check{
  margin-top: 3%;
}

img{
  max-width: 200px;
  
}

#allRepos{
  margin-right: -10%;
}